*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

select {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
}
body {
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(33, 33, 33);
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgb(19, 25, 33);
  color: white;
}
.header-logo-wrap {
  width: 180px;
}
.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:is(:hover, :focus) {
  border: 1px solid white;
}
.header-logo-img {
  width: 100px;
  margin-top: 5px;
}
.logo--mobile-img {
  display: none;
}

@media (max-width: 575px) {
  .header-logo-img {
    display: none;
  }
  .logo--mobile-img {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}
.header-input-wrap {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}
.search-input {
  flex: 1;
  width: 0;
  font-size: 16px;
  height: 40px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: "Roboto", "Arial", sans-serif;
}
.search-input:is(:hover, :focus) {
  outline: 2px solid rgb(255, 153, 0);
}
.search-btn {
  background-color: rgb(254, 189, 105);
  border: none;
  width: 45px;
  height: 40px;
  flex-shrink: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: "Roboto", "Arial", sans-serif;
}
.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}
.cart-wrap {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.order-link {
  color: white;
}

.return-text {
  display: block;
  font-size: 13px;
}

.order-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}
.cart-link {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
}
.cart-icon {
  width: 50px;
}
.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}
.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;

  width: 26px;
  text-align: center;
}

.products {
  margin-top: 60px;
}
.products-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

.product-wrap {
  padding: 40px 25px 25px 25px;

  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);

  display: flex;
  flex-direction: column;
}
.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  margin-bottom: 20px;
}
.product-img {
  max-width: 100%;
  max-height: 100%;
}
.product-name-wrapper {
  margin-bottom: 5px;
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rating-stars-img {
  width: 100px;
  margin-right: 6px;
}

.rating-count {
  margin-top: 3px;
  cursor: pointer;
  color: rgb(1, 124, 182);
}

.product-price {
  margin-bottom: 10px;
  font-weight: 700;
}

.product-quantity-wrapper {
  margin-bottom: 17px;
}
.select-quantity {
  font-family: "Roboto", "Arial", sans-serif;
  color: rgb(33, 33, 33);
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}
.select-quantity:is(:hover, :focus) {
  outline: 2px solid rgb(255, 153, 0);
}
.added-to-cart {
  color: rgb(6, 125, 98);
  font-size: 16px;

  display: flex;
  align-items: center;
  margin-bottom: 8px;
  opacity: 1;
}
.checkmark-icon {
  height: 20px;
  margin-right: 5px;
}
.added-to-cart-btn {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  color: rgb(33, 33, 33);
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252, 210, 0);
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}
.added-to-cart-btn:is(:hover, :focus) {
  background-color: rgb(247, 202, 0);
  border: 1px solid rgb(242, 194, 0);
}
